body {
	margin: 0;
	padding: 0;


}
header {
	height: 200px;
	background: #FAC9EC;

background: linear-gradient(0deg, #FAC9EC 0%, #A3E4D7 100%);

background: -webkit-linear-gradient(0deg, #FAC9EC 0%, #A3E4D7 100%);

background: -moz-linear-gradient(0deg, #FAC9EC 0%, #A3E4D7 100%);

background: -o-linear-gradient(0deg, #FAC9EC 0%, #A3E4D7 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='FAC9EC', endColorstr='#A3E4D7',GradientType=1 );
	
}
header h1 {
	float: left;
}
header img {
	float: right;
}
#logotext {
	float: right;
	padding: 10px;
	padding-top: 40px;
	margin-top: 0;
	color: white;
	text-shadow: 1px 1px 1px black;

}

.topmenu {
	display: flex;
	width: 100%;
	margin: 0 auto;


	
}
.topmenu a {
	flex: 1;
	display: block;
	text-decoration: none;
	background: #FAC9EC;
	color: black;
	text-align: center;
	padding: 20px 0;
	border: 1px solid white;
	border-left: 0px;
}
.topmenu a:hover {
	background: linen;
	color: black;
}

.footer {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #a3e4d7;
	color: black;

}
@media screen and (max-width: 600px) {
	#header {
		height: 100px;
	}
	#logo {
		display: none;
	}
	.topmenu {
	flex-direction: column;
}
}
